.main__container {
  width: 975px;
  left: -15px;
  position: relative;
  

  .section__second__wrap {
    width: 980px;
    display: flex;

    &__title {
      width: 220px;
      position: relative;
      left: 8px;
    }

    &__text {
      width: 139px;
      position: relative;
      left: 572px;
    }
  }

  .section__third__wrap__first {
    
    width: 974px;
    display: flex;
    flex-wrap: wrap;

    .section__third__wrap__second {
      width: 450px;
      border: 1px solid rgb(115, 103, 103);
      margin: 9px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      display: flex;
      flex-direction: column;
      padding: 32px;

     
      &__title {
        position: relative;
        left: -22px;
        top: -22px;
        font-size: 22px;
        text-decoration: none;
        width: 251px;
        

        &:hover{
          text-decoration: underline;
        }
      }

      &__text__first {
        position: relative;
        left: 329px;
        top: -42px;
        width: 52px;
      }

      &__text__second {
        position: relative;
        left: -22px;
        top: 29px;
        width: 89px;
      }
    }
  }
}
