.header__container {
  width: 100%;

  .line__first {
    width: 100%;
    height: 1px;
    background: rgb(146, 140, 140);
    top: 15px;
    position: relative;
  }

  .nav {
    background-color: rgb(2, 23, 2);
    padding: 12px;
    width: 100%;
    display: flex;

    .nav__logo {
      width: 40px;
      background-color: white;
      padding-left: 2px;
      position: relative;
      left: 29px;
      border-radius: 25%;
      -webkit-border-radius: 25%;
      -moz-border-radius: 25%;
      -ms-border-radius: 25%;
      -o-border-radius: 25%;
    }

    &__input {
      width: 290px;
      background-color: rgb(15, 1, 1);
      position: relative;
      left: 46px;
      border: 1px solid rgb(255, 255, 255);
      padding: 9px;
    }

    &__ul__list {
      width: 400px;
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      position: relative;
      left: 52px;

      &__li__item {
        position: relative;
        top: 9px;
        font-size: 15px;
        font-weight: 600;
        color: white;
        width: 85px;

        &:nth-child(2) {
          position: relative;
          left: -15px;
          width: 55px;
        }

        &:nth-child(3) {
          position: relative;
          left: -35px;
        }

        &:nth-child(4) {
          position: relative;
          left: -35px;
          width: 55px;
        }
      }
    }
  }

  .Section__first__wrap {
    width: 650px;
    height: 58px;
    position: relative;
    top: 2px;
    left: 526px;

    display: flex;

    &__icon__second {
      position: relative;
      top: 36px;
      left: 182px;
    }

    &__icon {
      position: relative;
      top: 39px;
      left: 2px;
    }

    &__text__first {
      position: relative;
      top: 37px;
      width: 85px;
      left: 11px;
      font-size: 19px;
      text-decoration: none;
      color: black;

      &:hover {
        box-shadow: 0px 0px 0px rgb(255, 248, 248);
        background-color: rgb(239, 234, 234);
        width: 85px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        height: 32px;
      }
    }

    &__text__second {
      position: relative;
      top: 37px;
      width: 105px;
      left: 55px;
      font-size: 19px;
      text-decoration: none;
      color: black;

      &:hover {
        box-shadow: 0px 0px 0px rgb(255, 248, 248);
        background-color: rgb(239, 234, 234);
        width: 105px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        height: 32px;
      }
    }

    &__text__third {
      position: relative;
      top: 37px;
      width: 79px;
      left: 99px;
      font-size: 19px;

      &:hover {
        box-shadow: 0px 0px 0px rgb(255, 248, 248);
        background-color: rgb(239, 234, 234);
        width: 79px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        height: 32px;
      }
    }

    &__text__fourth {
      position: relative;
      top: 37px;
      left: 149px;
      width: 72px;
      font-size: 19px;

      &:hover {
        box-shadow: 0px 0px 0px rgb(255, 248, 248);
        background-color: rgb(239, 234, 234);
        width: 72px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        height: 32px;
      }
    }

    &__text__fifth {
      position: relative;
      top: 37px;
      width: 59px;
      left: 189px;
      font-size: 19px;

      &:hover {
        box-shadow: 0px 0px 0px rgb(255, 248, 248);
        background-color: rgb(239, 234, 234);
        width: 59px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        height: 32px;
      }
    }
  }
}
